@import url('./global.css');
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 24px;
	border-bottom: 1px solid var(--very-light-pink);
	position: relative;
}
.navbar-left .menu-icon{
	display: none;
}
.navbar-center .logo {
	width: 100px;
	display: none;
}
.navbar-center ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
}
.navbar-center {
	display: flex;
}
.navbar-center ul {
	margin-left: 12px;
}
.navbar-center ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--very-light-pink);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
}
.navbar-center ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--hospital-green);
	color: var(--hospital-green);
}
.navbar-email {
	color: var(--very-light-pink);
	font-size: var(--sm);
	margin-right: 12px;
}
.navbar-email:hover{
	pointer-events: painted;
}
.navbar-shopping-cart {
	position: relative;
}
.navbar-shopping-cart .cart-counter {
	width: 16px;
	height: 16px;
	background-color: var(--hospital-green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px) {
	.navbar-left .menu {
		display: none;
	}
	.navbar-center .logo {
		width: 100px;
		display: block;
	}
	.navbar-left .menu-icon{
		display: inline-block;
	}
	.navbar-center{
		display: grid;
		place-content: center;
	}
	.navbar-center ul {
		display: none;
	}
	.navbar-email {
		display: none;
	}
}